.header__lang-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
  transition: opacity 1s ease;
}

.header__lang-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 425px){
  .header__lang-link{ 
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0em;
  }
}