.place__title {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0px 0px 48px;
  margin: 0;
  max-width: 460px;
  width: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
}

@media screen and (max-width: 768px){
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 322px;
  }
}

@media screen and (max-width: 425px){
  .place__title {
    grid-row: 1/2;
    padding: 0px 26px 32px;
    font-family: Inter;
    font-size: 32px;
    line-height: 35px;
  }
}

