.photo-grid {
  padding: 92px 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1024px){
  .photo-grid {
    padding: 0px 48px 92px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px){
  .photo-grid {
    padding: 0px 24px 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
    max-width: 720px;
  }
}

@media screen and (max-width: 600px){
  .photo-grid {
    padding: 0px 16px 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 12px;
    max-width: 288px;
  }
}


