.places {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0px 148px 92px;
}

@media screen and (max-width: 1024px){
  .places {
    padding: 0px 48px 92px;
  }
}

@media screen and (max-width: 768px){
  .places {
    gap: 73px;
    padding: 0px 24px 90px;
  }
}