.lead__content {
  margin: 0 auto;
  height: 1005px;
  max-width: 984px;
  width: 100%;
  /*padding: 0px 148px 0px;*/
  box-sizing: border-box;
}

@media screen and (max-width: 1024px){
  .lead__content {
    padding: 0;
    max-width: 928px;
    height: 962px;
  }
}

@media screen and (max-width: 768px){
  .lead__content {
    padding: 0;
    max-width: 768px;
    height: 862px;
  }
}


@media screen and (max-width: 600px){
  .lead__content {
    max-width: 320px;
    height: 472px;
  }
}

@media screen and (max-width: 425px){
  .lead__content {
    height: 406px;
  }
}