.lead__content {
  margin: auto;
  height: 1005px;
  width: 984px;
  width: 100%;
  padding: 0px 148px 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px){
  .lead__content {
    padding: 0px 48px 0px;
  }
}

@media screen and (max-width: 768px){
  .lead__content {
    padding: 0;
    width: 768px;
    height: 862px;
  }
}


@media screen and (max-width: 425px){
  .lead__content {
    width: 320px;
    height: 406px;
  }
}