.intro__list {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
  margin: auto;
  padding: 0;
  max-width: 690px;
  width: 100%;
}

@media screen and (max-width: 425px){
  .intro__list {
    max-width: 288px;
  }
}