.lead {
  padding-bottom: 92px;
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 1024px){
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px){
  .lead {
    padding-bottom: 88px;
    max-width: 768px; 
  }
}

@media screen and (max-width: 600px){
  .lead {
    padding-bottom: 64px;
    max-width: 320px;
  }
}
