.cover__subtitle {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  max-width: 360px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 600px){
  .cover__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    max-width: 275px;
  }
}





