.cover__subtitle {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  max-width: 360px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: auto;
  position: absolute;
  z-index: 3;
  top: 429px;
  left: 412px;
}

@media screen and (max-width: 1024px){
  .cover__subtitle {
    top: 379px;
    left: 332px;
  }
}

@media screen and (max-width: 768px){
  .cover__subtitle {
    top: 299px;
    left: 204px;
  }
}
