.cover__subtitle {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  max-width: 375px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: auto;
  position: absolute;
  z-index: 3;
  top: 63.7%;
  left: 50%;
  transform: translate(-50%, -63.7%);
}

@media screen and (max-width: 1024px){
  .cover__subtitle {
    top: 66.1%;
    left: 50%;
    transform: translate(-50%, -66.1%);
  }
}

@media screen and (max-width: 768px){
  .cover__subtitle {
    top: 72.3%;
    left: 50%;
    transform: translate(-50%, -72.3%);
  }
}

@media screen and (max-width: 600px){
  .cover__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    top: 78.3%;
    left: 50%;
    transform: translate(-50%, -78.3%);
    max-width: 275px;
  }
}





