.footer__link {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  transition: opacity 1s ease;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.8;
}


@media screen and (max-width: 650px){
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}





