.lead__title {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0px 0px 32px;
  max-width: 720px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 740px){
  .lead__title {
    font-size: 60px;
    line-height: 64px;
    max-width: 600px;
  }
}

@media screen and (max-width: 540px){
  .lead__title {
    font-size: 45px;
    line-height: 44px;
    max-width: 400px;
  }
}

@media screen and (max-width: 470px){
  .lead__title {
    max-width: 288px;
    padding-bottom: 40px;
    font-size: 40px;
    padding: 0px 0px 16px;
  }
}