.place__paragraph {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 484px;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: start;
}

.place__paragraph:nth-of-type(2) {
  grid-row: 2/3;
}


@media screen and (max-width: 1024px){
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 837px){
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 600px){
  .place__paragraph {
    max-width: 285.9px;
    grid-column: 1;
    grid-row: 5/6;
    padding: 32px 0px 0px 16px; 
    line-height: 26px;
    letter-spacing: 0em;
  }
  .place__paragraph:nth-of-type(2) {
    grid-column: 1;
    grid-row: 6/7;
    padding-top: 1px;
    max-width: 285px;
    letter-spacing: 0em;
  }
}
