.footer__copyright {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px){
  .footer__copyright { 
    font-size: 14px;
    line-height: 14px;
    
  }
}
