.lead__image {
  display: block;
  height: 615px;
  width: 984px;
  object-fit: cover;
  padding-bottom: 8px;
  margin: auto;
}

@media screen and (max-width: 1024px){
  .lead__image {
    height: 580px;
    width: 928px;
  }
}

@media screen and (max-width: 768px){
  .lead__image {
    height: 480px;
    width: 768px;
  }
}

@media screen and (max-width: 425px){
  .lead__image {
    height: 200px;
    width: 320px;
  }
}