.lead__image {
  display: block;
  height: 615px;
  width: 984px;
  object-fit: cover;
  padding-bottom: 8px;
  margin: auto;
}

@media screen and (min-width: 1024px){
  .lead__image {
    height: 580px;
    width: 928px;
  }
}