.intro__text {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 40px 0px 33px;
  margin: auto;
  max-width: 690px;
  width: 100%;
}

@media screen and (max-width: 768px){
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 740px){
  .intro__text {
    max-width: 590px;
  }
}


@media screen and (max-width: 680px){
  .intro__text {
    max-width: 520px;
  }
}

@media screen and (max-width: 600px){
  .intro__text {
    max-width: 420px;
  }
}

@media screen and (max-width: 500px){
  .intro__text {
    max-width: 320px;
  }
}

@media screen and (max-width: 425px){
  .intro__text {
    max-width: 288px;
    padding: 40px 16px 34px;
  }
}