.intro__text {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 40px 0px 33px;
  margin: auto;
  max-width: 690px;
  width: 100%;
}