.intro {
  padding: 0px 442px 92px 148px;
  margin: auto;
  max-width: 690px; 
  width: 100%;
}

@media screen and (max-width: 1024px){
  .intro {
    padding: 0px 286px 92px 48px;
  }
}

@media screen and (max-width: 768px){
  .intro {
    padding: 0px 24px 88px;
  }
}

@media screen and (max-width: 425px){
  .intro {
    padding: 0px 0px 64px;
  }
}