.lead__subtitle {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin: auto;
  max-width: 640px;
  width: 100%;
  padding-bottom: 64px;
}

@media screen and (max-width: 1024px){
  .lead__subtitle {
    padding-bottom: 56px;
  }
}


@media screen and (max-width: 425px){
  .lead__subtitle {
    height: 40px;
    width: 288px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}