.cover {
  max-height: 740px;
  max-width: 1184px;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  z-index: 1;
}

.cover:hover {
  cursor: pointer;
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px){
  .cover {
    height: 640px;
    max-width: 1024px
  }
}

@media screen and (max-width: 768px){
  .cover {
    height: 480px;
    max-width: 768px
  }
}

@media screen and (max-width: 425px){
  .cover {
    height: 200px;
    max-width: 320px
   }
}











