.cover {
  height: 740px;
  width: 1184px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.cover:hover {
  cursor: pointer;
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px){
  .cover {
    height: 640px;
    width: 1024px;
  }
}

@media screen and (max-width: 768px){
  .cover {
    height: 480px;
    width: 768px;
  }
}

@media screen and (max-width: 425px){
  .cover {
    height: 200px;
    width: 320px;
    padding-top: 66px;
  }
}