.cover {
  display: flex;
  justify-content: center;
  position: relative;
  height: 740px;
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
}

.cover::before {    
  content: "";
  background-image: url('../../images/cover-trains.jpg');
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .7;
}

.cover:hover:before {
  opacity: .2;
}

@media screen and (max-width: 1024px){
  .cover {
    max-width: 1024px;
    height: 640px; 
  }
}

@media screen and (max-width: 768px){
  .cover {
    max-width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 600px){
  .cover {
    max-width: 320px;
    height: 200px;
  }
}



