.cover__overlay {
  height: 740px;
  width: 1184px;
  background-color: rgba(42, 44, 47, 0.3);
  position: absolute;
  z-index: 2;
  transition: opacity 1s ease;
}

@media screen and (max-width: 1024px){
  .cover__overlay {
    height: 640px;
    width: 1024px;
  }
}

@media screen and (max-width: 768px){
  .cover__overlay {
    height: 480px;
    width: 768px;
  }
}

@media screen and (max-width: 425px){
  .cover__overlay {
    height: 200px;
    width: 320px;
    padding-top: 66px;
  }
}