.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  grid-gap: 16px;
  margin: auto;
  height: 671px;
  max-width: 1184px;
  width: 100%;
}

@media screen and (max-width: 1024px){
  .photo-grid__items {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    grid-gap: 14px;
    height: 942px;
    max-width: 928px;
    width: 100%;
  }
}