.cover__background {
  background-image: url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
  width: 1184px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px){
  .cover__background {
    height: 640px;
    width: 1024px;
  }
}

@media screen and (max-width: 768px){
  .cover__background {
    height: 480px;
    width: 768px;
  }
}

@media screen and (max-width: 425px){
  .cover__background {
    height: 200px;
    width: 320px;
  }
}
