.cover__background {
  background-image: url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  max-width: 1184px;

  position: relative;
  z-index: 1;

}

@media screen and (max-width: 1024px){
  .cover__background {
   
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px){
  .cover__background {
    
    max-width: 768px;
  }
}

@media screen and (max-width: 425px){
  .cover__background {
    max-width: 320px;
  }
}
