.lead__caption {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  margin: auto;
  max-width: 159px;
  width: 100%;
  padding-right: calc(984px - 158px);
  text-transform: uppercase;
}

@media screen and (max-width: 1024px){
  .lead__caption {
    padding-right: calc(928px - 158px);
  }
}

@media screen and (max-width: 768px){
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px){
  .lead__caption {
    padding-left: 16px;
  }
}