.cover__title {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  max-width: 560px;
  width: 100%;
  position: absolute;
  top: 33.1%;
  left: 26.35%;
  text-align: center;
  margin: 0;
  z-index: 3;
}

@media screen and (max-width: 1024px){
  .cover__title {
    top: 195px;
    left: 232px;
  }
}

@media screen and (max-width: 768px){
  .cover__title {
    top: 115px;
    left: 104px;
  }
}


@media screen and (max-width: 425px){
  .cover__title {
    top: 99px;
    left: 36px; 
    font-size: 32px;
    line-height: 35px;
    max-width: 248px;
  }
}