.cover__title {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0px;
  max-width: 560px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -42%);
  text-align: center;
  margin: 0;
  z-index: 3;
}

@media screen and (max-width: 1024px){
  .cover__title {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}

@media screen and (max-width: 768px){
  .cover__title {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
  }
}

@media screen and (max-width: 600px){
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
}




