.lead__figure {
  margin: auto;
}

@media screen and (max-width: 700px){
  .lead__figure {
    height: 354px;
    max-width: 568px;
    width: 100%;
  }
}


@media screen and (max-width: 425px){
  .lead__figure {
    height: 354px;
    max-width: 612px;
  }
}