.place {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-auto-rows: 0px;
  grid-auto-columns: 0px;
}

@media screen and (max-width: 1024px){
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 837px){
  .place {
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 600px){
  .place {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, minmax(min-content, max-content));
    grid-column-gap: 32px;
    padding: 0;
    max-width: 320px;
    width: 100%;
  }

  .place:nth-of-type(1) {
    padding-bottom: 26px;
  }

  .place:nth-of-type(4) {
    padding-bottom: 27px;
  }

  .place:nth-of-type(3) {
    padding-bottom: 1px;
  }
}