.place {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

@media screen and (max-width: 1024px){
  .place {
    gap: 32px;
  }
}

@media screen and (max-width: 768px){
  .place {
    gap: 28px;
  }
}