.footer {
  margin: auto;
  padding: 92px 48px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
  width: 100%;
}

@media screen and (max-width: 1024px){
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px){
  .footer {
    max-width: 720px;
    padding: 88px 24px 24px;
  }
}

