.footer {
  margin: auto;
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

@media screen and (max-width: 1024px){
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px){
  .footer {
    max-width: 720px;
    padding: 88px 24px 20px;
  }
}

@media screen and (max-width: 698px){
  .footer {
    flex-direction: column;
    max-width: 432px;
    padding: 64px 118px 22px 16px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 600px){
  .footer {
    max-width: 312px;
  }
}

@media screen and (max-width: 425px){
  .footer {
    max-width: 186px;
  }
}
