.header__lang-links {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  gap: 18px;
  justify-content: space-between;
  padding-bottom: 5px;
}

@media screen and (max-width: 425px){
  .header__lang-links {
    padding-bottom: 8px;
  }
}
