.header__lang-links {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  gap: 18px;
  justify-content: space-between;
  padding: 0px 0px 5px;
  margin: 0;
}

@media screen and (max-width: 425px){
  .header__lang-links {
    padding-bottom: 8px;
  }
}
